.info_making {
    font-style: normal;
    font-size: large;
    text-align: center;
    color: gray;
    padding: 20%;
}


.home_img {
    padding: 60px;
    width: 50px;
    height: 20px;
    object-fit: cover;
}


@media screen and (max-width: 770px) {
    .home_img {
        width: 1%;
    }
}
