footer {
    background-color: dimgray;
    color: white;
    padding: 40px;
}

body {
    background-color: dimgray;
}

li {
    list-style: none;
}

.copyright {
    display: inline-block;
    margin-right: 20px;
}

.sns {
    display: inline-block;
    margin-left: 20px;
}

.slash {
    display: inline-block;
}